<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>wakeup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/victorcai/Desktop/VictorCai/Goals/script.sh</string>
        <string>/Users/victorcai/opt/anaconda3/bin/python3</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/Users/victorcai/wakeup.error.txt</string>
    <key>StandardOutPath</key>
    <string>/Users/victorcai/wakeup.log.txt</string>
    <key>StartCalendarInterval</key>
    <array>
      <dict>
          <key>Hour</key>
          <integer>10</integer>
          <key>Minute</key>
          <integer>0</integer>
      </dict>
    </array>
</dict>